body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 34px;
  line-height: 48px;
  font-weight: 900;
  margin: 60px 0 0;
  color: #272044;
}

h2 {
  text-align: center;
  color: #8064e9;
  font-size: 34px;
  font-weight: 900;
  line-height: 48px;
  margin: 0;
  padding: 0 0 24px;
}

p {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-family: PT Mono, monospace;
}

button {
  background: #8064e9;
  display: block;
  margin: 60px auto;
  font-size: 18px;
  padding: 16px 24px;
  border-radius: 30px;
  border: 1px solid #8064e9;
  color: #fff;
  line-height: 22px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

button:hover {
  cursor: pointer;
  background: #5e41a7;
}
